/* personal style sheet for Trinity Hair & Beauty  */
:root {
	--clr2: #ffffff;
	--clr1: #454545;
	--clr3: #56254A;/* #4c384d; */
	--clr4: #cccccc;
	--clrh: #A4916D;										/* #cf852d; colour changed by Paula*/
	--clrl: #9c55b1;
	--clr5: #222222;
	--scale: 1.020408163265306;
	--scale2: 0.98;
}

body {
	font: 400 15px Serif;
	font-size: 20px !important;
	/* line-height: 1.8; changed by Paula*/
	color: var(--clr2);
	background-color: var(--clr1);
	margin-bottom: 50px;
}

h2  {
	font-size: 30px;
	color: var(--clr5) !important; 
	background-color: var(--clrh) !important; 
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* started added by Paula */

#content h2 { 
	color: var(--clrh) !important; 
	background-color: transparent !important;  	
	letter-spacing: 3px !important; 
	margin: 0 0 0.5em 0.5em; 
}

/* Icon when the collapsible content is shown */
.btn:after {
    font-family: "Glyphicons Halflings";
	color: var(--clr5) !important; 	
	background-color: var(--clrh) !important; 
    content: "\e114";
	border:0;
	padding:0;
}

/* Icon when the collapsible content is hidden */
.btn.collapsed:after {
    content: "\e080";
	color: var(--clr5) !important; 	
	background-color: var(--clrh) !important; 
	border:0;
	padding:0;
}

.btn-default {
    background: transparent !important; 
	border: 0;
}

.btn2 {
    background: transparent !important; 
	border: 0;
	font-size: 20px;
}	

img { 															/* how an <img> or <video> should be resized to fit its container */
	object-fit:cover; 
}

.clearboth { 
	clear: both; 
}
  
/* end of added by Paula */

.form-control {
	color: var(--clr5) !important;
	font-size: 20px;
	width: 90%;
}
.form-label {

}
.form-box {
	
}
.form-checkbox {
	
}
.form-left {
	margin-left: 5%;
}
.form-right {
	margin-right: 5%;
}
.form-center {
	margin-left: 2.5%;
	width: 92.5%;
}
.form-dropdown {
	color: var(--clr5) !important;
	border: 1px solid var(--clr2);
	border-radius: 4px;
	background-color: var(--clr2);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	font-size: 18px;
}
.form-button {
	font-size: 22px;
}
.form-half {
	margin-left: 0%;
	width: 79%;
}

.navbar {
	background-color: var(--clr2);
	color: var(--clr1);
	z-index: 9999;
	border: 0;
	line-height: 1.42857143 !important;
	border-radius: 0;
	font-family: Serif;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.navbar li a, .navbar .navbar-brand {
	color: var(--clr1) !important;
	font-family: Serif;
	font-size: 20px;
}
.navbar-fixed-top{
	letter-spacing: 4px;
	margin-bottom: 20px;
}
.navbar-fixed-bottom{
	font-size: 12px;
	letter-spacing: 1px;
	margin-bottom: 0px;
}
.navbar-nav{
	margin-left: 10px;
	margin-right: 10px;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
	color: var(--clr2) !important;
	background-color: var(--clr1) !important;
}
.navbar-fixed-top li a:hover{
	box-shadow: 0px 8px 16px 0px rgba(1,1,1,1.0);
	bottom:-4px;
}
.navbar-fixed-bottom li a:hover{
	box-shadow: 0px 8px 16px 0px rgba(1,1,1,1.0);
	top:-4px;
}

.nav-pills {
	background-color: var(--clr2);
	color: var(--clr1) !important;
	border: 0;
	line-height: 1.42857143 !important;
	border-radius: 0;
	font-family: Serif;
	margin-top: 50px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.nav-pills  li a {
	border-radius: 0;
	background-color: var(--clr2);
	color: var(--clr1) !important;
}
.nav-pills a:hover, .nav-pills li.active a{
	color: var(--clr2) !important;
	background-color: var(--clr1) !important;
	box-shadow: 0px 8px 16px 0px rgba(1,1,1,1.0);
	bottom:-4px;
}

.thumbnail{
	border-width: thick;
	border-color: var(--clr2);
	background-color: var(--clr3);
	color: var(--clr4);
	min-height: 500px;
	box-shadow: 0px 12px 24px 0px rgba(0,0,0,0.2);
	transform:scale(var(--scale2),var(--scale2));
	-webkit-transform:scale(var(--scale2),var(--scale2));
	-moz-transform:scale(var(--scale2),var(--scale2));
}
.thumbnail-contact {
	width:90%;
	height: 90%;
	margin-left: 5%;
}
.thumbnail-map {
	margin-right: 5%;
	width:90%;
	height: 90%;
}

.thumbnail:hover{
	transform:scale(var(--scale),var(--scale));
	-webkit-transform:scale(var(--scale),var(--scale));
	-moz-transform:scale(var(--scale),var(--scale));
}
.thumbnail a:link {
	color: var(--clr4);
	text-decoration: none;
}
.thumbnail a:hover {
	color: var(--clr4);
	text-decoration: none;
}
.thumbnail a:visited {
	color: var(--clr4);
	text-decoration: none;
}
.thumbnail a:active {
	color: var(--clr4);
	text-decoration: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content{
	display: none;
	position: absolute;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	min-width: 160px;
}
.dropdown-content a{
	color: var(--clr2);
	padding: 12px 16px;
	border-color: var(--clr2);
	background-color: var(--clr2);
	display: block;
}
.dropdown:hover .dropdown-content {
	display: block;
	background-color: #3e8e41;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.carousel{
	margin-top: 40px;
}
.carousel-control.right, .carousel-control.left {
	background-image: none;
	color: var(--clr2);
}
.carousel-indicators li {
	border-color: var(--clr2);
}
.carousel-indicators li.active {
	background-color: var(--clr2);
}
.carousel .item{
	min-height: 500px;
}  
.carousel .item img{
	margin: 20px auto;
	box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.2);
}

.modal-dialog{
	top: 50px;
	color: var(--clr3);
}

.logo-small {
	color: var(--clrl);
	font-size: 50px;
}
.logo {
	color: var(--clr2);
	font-size: 200px;
}  

.slide {
	animation-name: slide;
	-webkit-animation-name: slide;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	visibility: visible;
}

#toTop {
	font-size: 20px;
	margin-bottom: 0px;
	color: var(--clr1);
}
@media screen and (max-width: 768px) {
	.col-sm-4 {
		color: var(--clr2);
		text-align: center;
		margin: 25px 0;
	}
	.btn-lg {
		width: 100%;
		margin-bottom: 35px;
	}
}
@media screen and (max-width: 480px) {
	.logo {
		font-size: 150px;
	}
}
